@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.yellow-btn {
    background: rgb(255,225,2);
    background: linear-gradient(36deg, rgba(255,225,2,1) 0%, rgba(253,251,68,1) 100%);
    color: #6C642A;
    padding: 12px 15px;
    border-radius: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out .3s;
    white-space: nowrap;
    text-align: center;
}
.yellow-btn:hover{
    color: #6C642A;
    scale: 1.05;
    background: rgb(255,225,2);
    background: linear-gradient(242deg, rgba(255,225,2,1) 0%, rgba(253,251,68,1) 100%);
}
.blue-border {
    border: 4px solid #5099E7;
}
.green-btn {
    background-color: #4ECB71 !important;
    color: #fff;
    padding: 12px 15px;
    border-radius: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out .3s;
    white-space: nowrap;
    text-align: center;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 20px;
}

nav {
    z-index: 10;
    max-width: 100vw;
}
.logo {
    width: 150px;
    height: 55;
}
.logo img {
    width: 120px;
    transition: all ease-in-out .3s;
}
.logo img:hover {
    scale: 1.1;
}
.list {
    width: 40%;
}
.list ul {
    list-style-type: none;
}
.list li {
    transition: all ease-in-out .3s;
}
.list li:hover {
    scale: 1.1;
}
.list li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500; 
}
a:hover {
    scale: 1.1;
    color: #fff;
}
.mobile-menu-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}
.mobile-menu {
    width: 90%;
    background-color: red;
}
.blue-card-section .container{
    max-width: 1290px;
}

footer {
    background-color: #1E1E1E;
    color: #fff;
}
footer h6 {
    font-size: 20px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
}
footer li {
    margin-bottom: 8px;
}
footer li a{
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #D9D9D9;
    text-decoration: none;
}
footer span {
    margin-right: 10px;
}
footer .bottom-footer {
    font-size: 14px;
}
footer img {
    max-width: 100px;
}

@-webkit-keyframes image-move {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes image-move {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }