/* tablet  */
@media (max-width:992px) {
    .hero-section .container {
        height: auto !important;
    }
    .hero-section .shape {
        display: none;
    }
    .hero-section .hero-img {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    .hero-section .hero-img img {
        width: 100% !important;
        margin-top: -55px;
    }
    .simulator-section .amount {
        position: relative !important;
        left: 0;
        padding: 10px 30px !important;
        margin: 20px auto !important;
    }
    
}


/* mobile  */
@media (max-width:768px) {
    .hero-section {
        /* min-height: 100vh !important; */
        height: auto !important;
        text-align: center !important;
    }
    .hero-section h2 {
        font-size: 25px !important;
    }
    .hero-section-sm {
        height: auto !important;
        max-height: 65vh !important;
        padding-bottom: 50px !important;
        padding-top: 100px !important;
    }
    .hero-info .container{
        padding-top: 250px !important;
    }
    .hero-info .container h1 {
        font-size: 30px !important;
        line-height: 35px !important;
    }
    .hero-section h1 {
        font-size: 50px !important;
        line-height: 60px !important;
        margin-top: -200px !important;
    }
    .hero-section .yellow-btn {
        width: 100% !important;
    }
    .presentation-section {
        padding-top: 50px !important;
    }
    .presentation-section h2,
    .communications h5, 
    .blue-card-section h2 {
        font-size: 25px !important;
        line-height: 35px !important;
    }
    .second-section img, .third-section img {
        max-width: 275px !important;
        margin-top: 50px;
    }
    .blue-card-section p {
        font-size: 18px !important;
        line-height: 26px !important;
    }
}